{% extends 'layouts/layout.html' %}

{% block head %}
<link rel="stylesheet" href="/styles/client.css">
{% endblock head %}

{% block content %}
<div class="page-container">
    <span>Id: {{ client.id }}</span>
    <span>Ativo: {{ client.ativo }}</span>
    <span>Usando para Venda: {{ client.usar_venda }}</span>
    <span>Nome da Empresa: {{ client.nome_empresa }}</span>
    <span>Nome Fantasia: {{ client.nome_fantasia }}</span>
    <span>Tipo de Regime: {{ client.regime_tributario }}</span>
    <span>CNPJ: {{ client.cnpj }}</span>
    <span>Incrição Estadual: {{ client.inscricao_estadual }}</span>
    <span>Data de Fundação: {{ client.fundacao }}</span>
    <span>Tipo de Pessoa: {{ client.tipo_pessoa }}</span>
    <span>Tipo de Contribuinte: {{ client.tipo_contribuinte }}</span>
    <span>Permite Crediário / Boleto: {{ client.permite_cediario }}</span>
    <span>Permite Cheque Pré: {{ client.permite_cheque }}</span>
    <span>Endereço - Cep: {{ client.endereco_cep }}</span>
    <span>Endereço - Endereço: {{ client.endereco_endereco }}</span>
    <span>Endereço - Número: {{ client.endereco_numero }}</span>
    <span>Endereço - Bairro: {{ client.endereco_bairro }}</span>
    <span>Endereço - Cidade: {{ client.endereco_cidade }}</span>
    <span>Endereço - Código NFe: {{ client.endereco_codigo_nfe }}</span>
    <span>Endereço - Estado: {{ client.endereco_estado }}</span>
    <span>Endereço - Data Proxima Revisão: {{ client.endereco_proxima_revisao }}</span>
    <span>Endereço de Cobrança - Cep: {{ client.cobranca_cep }}</span>
    <span>Endereço de Cobrança - Endereço: {{ client.cobranca_endereco }}</span>
    <span>Endereço de Cobrança - Número: {{ client.cobranca_numero }}</span>
    <span>Endereço de Cobrança - Bairro: {{ client.cobranca_bairro }}</span>
    <span>Endereço de Cobrança - Cidade: {{ client.cobranca_cidade }}</span>
    <span>Endereço de Cobrança - Código NFe: {{ client.cobranca_codigo_nfe }}</span>
    <span>Endereço de Cobrança - Estado: {{ client.cobranca_estado }}</span>
    <span>Endereço de Cobrança - Data Próxima Revisão: {{ client.cobranca_proxima_revisao }}</span>
    <span>Telefone 1: {{ client.telefone_um }}</span>
    <span>Telefone 2: {{ client.telefone_dois }}</span>
    <span>Fax: {{ client.fax }}</span>
    <span>Email: {{ client.email }}</span>
    <span>Inscrição Municipal: {{ client.inscricao_municipal }}</span>
    <span>Renda: {{ client.renda }}</span>
    <span>Limite Original: {{ client.limite_original }}</span>
    <span>Tipo de Cliente: {{ client.tipo_cliente }}</span>
    <span>Ramo: {{ client.ramo }}</span>
    <span>Check: {{ client.check_Check }}</span>
    <span>Vendedor: {{ client.vendedor }}</span>
    <span>Representante: {{ client.representante }}</span>
    <span>Observação 1: {{ client.observacao_um }}</span>
    <span>Observação 2: {{ client.observacao_dois }}</span>
    <span>Observação de Cobrança: {{ client.observacao_cobranca }}</span>
</div>
{% endblock content %}