{% extends 'layouts/layout.html' %}

{% block head %}
<link rel="stylesheet" href="/styles/register-client.css">
<link rel="stylesheet" href="/styles/correios.css">
<link rel="stylesheet" href="/styles/form.css">
{% endblock head %}

{% block content %}

<form action="/home" method="post">
    {% include 'partials/form.njk' %}
    <div class="field-form">
        <button type="submit">Enviar</button>
    </div>
</form>
<script src="/scripts/input_masks.js"></script>
<script src="/scripts/input_add.js"></script>
<script src="/scripts/populate_uf.js"></script>
<script src="/scripts/toggle_active.js"></script>


{% endblock content %}