{% extends 'layouts/layout.html' %}

{% block head %}
<link rel="stylesheet" href="/styles/table-clients.css">
{% endblock head %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Empresa</th>
            <th>Telefone</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ client.id }}</td>
            <td>{{ client.nome_fantasia }}</td>
            <td>{{ client.telefone_um }}</td>
            <td>
                <a href="/clients/{{ client.id }}">Detalhes</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}