<!-- Primeiro campo -->
<div class="field-form">

    <div class="field-container">

        <div class="field-group">
            <label for="">Usar P.Venda</label>
            <select required="required" name="usar_venda">

                <option value="Atacado_1" {% if client.usar_venda =='Atacado_1' %} selected="selected" {% endif %}>
                    Atacado 1
                </option>

                <option value="Atacado_2" {% if client.usar_venda =='Atacado_2' %} selected="selected" {% endif %}>
                    Atacado 2
                </option>

            </select>
        </div>

        <div class="field-group">
            <label for="nome_empresa">Nome Completo/Razão Social</label>
            <input required="required" type="text" name="nome_empresa" {% if client.nome_empresa !=null %} value="{{ client.nome_empresa }}" {% endif %}>
        </div>

        <div class="field-group">
            <label for="nome_fantasia">Nome Fantasia</label>
            <input required="required" type="text" name="nome_fantasia" {% if client.nome_fantasia !=null %} value="{{ client.nome_fantasia }}" {% endif %}>
        </div>
    </div>
</div>
<!-- Segundo campo -->
<div class="field-form">

    <div class="field-container">

        <div class="field-grid">
            <div class="field-group">
                <label for="regime_tributario">Regime Tributário</label>
                <select required="required" name="regime_tributario">

                    <option value="Simples Nacional" {% if client.regime_tributario =='Simples Nacional' %} selected="selected" {% endif %}>
                        Simples Nacional
                    </option>

                    <option value="Lucro Presumido" {% if client.regime_tributario =='Lucro Presumido' %} selected="selected" {% endif %}>
                        Lucro Presumido
                    </option>

                    <option value="Lucro Real" {% if client.regime_tributario =='Lucro Real' %} selected="selected" {% endif %}>
                        Lucro Real
                    </option>

                </select>
            </div>
            <div class="field-group">
                <label for="cnpj">CNPJ</label>
                <input class="cnpj" required="required" type="text" name="cnpj" {% if client.cnpj !=null %} value="{{ client.cnpj }}" {% endif %}>
            </div>
        </div>

        <div class="field-grid">
            <div class="field-group">
                <label for="inscricao_estadual">Inscr.Estadual</label>
                <input required="required" type="text" name="inscricao_estadual" {% if client.inscricao_estadual !=null %} value="{{ client.inscricao_estadual }}" {% endif %}>
            </div>
            <div class="field-group">
                <label for="fundacao">Fundação</label>
                <input required="required" type="date" max="{{ year }}-12-31" name="fundacao" {% if client.fundacao !=null %} value="{{ client.fundacao }}" {% endif %}>
            </div>
        </div>

        <div class="field-group">
            <fieldset>

                <legend>Tipo Pessoa</legend>

                <div class="fieldset-container">
                    <div class="content-fieldset">
                        <input class="radio" type="radio" id="pessoa_fisica" name="tipo_pessoa" value="Física" {% if client.tipo_pessoa !='Física' %} checked="checked" {% endif %}>
                        <label for="pessoa_fisica">Física</label>
                    </div>

                    <div class="content-fieldset">
                        <input class="radio" type="radio" id="pessoa_juridica" name="tipo_pessoa" value="Jurídica" {% if client.tipo_pessoa !='Jurídica' %} checked="checked" {% endif %}>
                        <label for="pessoa_juridica">Jurídica</label>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="field-group">
            <fieldset>

                <legend>Tipo Contribuinte</legend>

                <div class="fieldset-container big-field">
                    <div class="content-fieldset">
                        <input class="radio" type="radio" id="contribuinte" name="tipo_contribuinte" value="Contribuinte" {% if client.tipo_contribuinte !='Contribuinte' %} checked="checked" {% endif %}>
                        <label for="contribuinte">Contribuinte</label>
                    </div>
                    <div class="content-fieldset">
                        <input class="radio" type="radio" id="nao_contribuinte" name="tipo_contribuinte" value="Não Contribuinte" {% if client.tipo_contribuinte !='Não Contribuinte' %} checked="checked" {% endif %}>
                        <label for="nao_contribuinte">Não Contribuinte</label>
                    </div>
                    <div class="content-fieldset">
                        <input class="radio" type="radio" id="isento" name="tipo_contribuinte" value="Isento" {% if client.tipo_contribuinte !='Isento' %} checked="checked" {% endif %}>
                        <label for="isento">Isento</label>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<!-- Terceiro campo (correios)-->
<div class="field-form correios buttons">

    <div class="header-container">

        <a class="active">Endereço</a>
        <a>Cobrança</a>

        <div class="check-group">
            <div class="checkbox">
                <input class="checkbox" type="checkbox" name="permite_crediario" {% if client.permite_crediario=='Sim' %} checked="checked" {% endif %}>
                <label for="permite_crediario">Permite Venda Crédiario/Boleto</label>
            </div>

            <div class="checkbox">
                <input class="checkbox" type="checkbox" name="permite_cheque" {% if client.permite_cheque=='Sim' %} checked="checked" {% endif %}>
                <label for="permite_cheque">Permite Venda Cheque Pré</label>
            </div>
        </div>

        <img src="/icons/correios.png" alt="imagem correios">

    </div>
    <div class="correios-container" style="display: block;">

        <div class="field-container">

            <div class="field-group">
                <label for="endereco_cep">Cep</label>
                <input class="cep" required="required" type="text" name="endereco_cep" {% if client.endereco_cep !='' %} value="{{ client.endereco_cep }}" {% endif %}>
            </div>

            <div class="field-group">
                <label for="endereco_endereco">Endereço</label>
                <input required="required" type="text" name="endereco_endereco" {% if client.endereco_endereco !='' %} value="{{ client.endereco_endereco }}" {% endif %}>
            </div>

            <div class="field-group">
                <label for="endereco_numero">Número</label>
                <input required="required" type="number" name="endereco_numero" {% if client.endereco_numero !='' %} value="{{ client.endereco_numero }}" {% endif %}>
            </div>
        </div>

        <div class="field-container">

            <div class="field-group">
                <label for="endereco_bairro">Bairro</label>
                <input required="required" type="text" name="endereco_bairro" {% if client.endereco_bairro !='' %} value="{{ client.endereco_bairro }}" {% endif %}>
            </div>

            <div class="field-group">
                <label for="city">Cidade</label>
                <select required="required" name="city">
                    <option value="">Selecione a cidade</option>
                    {% if client.endereco_cidade != '' %}
                        <option value="{{ client.endereco_cidade }}" selected="selected">{{ client.endereco_cidade }}
                        </option>
                    {% endif %}
                </select>
            </div>

            <div class="field-group">
                <label for="endereco_codigo_nfe">Cd.NFe</label>
                <input required="required" type="text" name="endereco_codigo_nfe" {% if client.endereco_codigo_nfe !='' %} value="{{ client.endereco_codigo_nfe }}" {% endif %}>
            </div>

            <div class="field-group">
                <label for="state">UF</label>
                <select required="required" name="uf">

                    {% if client.endereco_estado != '' %}
                        <option value="{{ client.endereco_estado_id }}" selected="selected">{{ client.endereco_estado }}</option>
                        {% else%}
                        <option value="">Selecione a Região</option>
                    {% endif %}
                </select>
                <input type="hidden" name="state" {% if client.endereco_estado_id != '' %} value="{{ client.endereco_estado_id }}" {% endif %}>
            </div>

            <div class="field-group">
                <label for="endereco_proxima_revisao">Próx. revisão</label>
                <input required="required" type="date" max="{{ maxYear }}-12-31" name="endereco_proxima_revisao" {% if client.endereco_proxima_revisao !='' %} value="{{ client.endereco_proxima_revisao }}" {% endif %}>
            </div>
        </div>
    </div>
    <div class="correios-container" style="display: none;">

        <div class="field-container">

            <div class="field-group">
                <label for="cobranca_cep">Cep</label>
                <input class="cep" type="text" name="cobranca_cep" {% if client.cobranca_cep !='' %} value="{{ client.cobranca_cep }}" {% endif %}>
            </div>

            <div class="field-group">
                <label for="cobranca_endereco">Endereço</label>
                <input type="text" name="cobranca_endereco" {% if client.cobranca_endereco !='' %} value="{{ client.cobranca_endereco }}" {% endif %}>
            </div>

            <div class="field-group">
                <label for="cobranca_numero">Número</label>
                <input type="number" name="cobranca_numero" {% if client.cobranca_numero !='' %} value="{{ client.cobranca_numero }}" {% endif %}>
            </div>
        </div>

        <div class="field-container">

            <div class="field-group">
                <label for="cobranca_bairro">Bairro</label>
                <input type="text" name="cobranca_bairro" {% if client.cobranca_bairro !='' %} value="{{ client.cobranca_bairro }}" {% endif %}>
            </div>

            <div class="field-group">
                <label for="city">Cidade</label>
                <select name="city">
                    {% if client.cobranca_cidade != '' %}
                        <option value="{{ client.cobranca_cidade }}" selected="selected">{{ client.cobranca_cidade }}
                        </option>
                    {% else %}
                        <option value="">Selecione a cidade</option>
                    {% endif %}
                </select>
            </div>

            <div class="field-group">
                <label for="cobranca_codigo_nfe">Cd.NFe</label>
                <input type="text" name="cobranca_codigo_nfe" {% if client.cobranca_codigo_nfe !='' %} value="{{ client.cobranca_codigo_nfe }}" {% endif %}>
            </div>

            <div class="field-group">
                <label for="state">UF</label>
                <select name="uf">
                    {% if client.cobranca_estado != '' %}
                        <option value="{{ client.cobranca_estado_id }}" selected="selected">
                            {{ client.cobranca_estado }}
                        </option>
                    {% endif %}
                    <option value="">Selecione a Região</option>
                </select>
                <input type="hidden" name="state" {% if client.cobranca_estado_id != '' %} value="{{ client.cobranca_estado_id }}" {% endif %}>
            </div>

            <div class="field-group">
                <label for="cobranca_proxima_revisao">Próx. revisão</label>
                <input type="date" max="{{ maxYear }}-12-31" name="cobranca_proxima_revisao" {% if client.cobranca_proxima_revisao !='' %} value="{{ client.cobranca_proxima_revisao }}" {% endif %}>
            </div>
        </div>
    </div>
</div>

<!-- Quarto campo -->
<div class="field-form">

    <div class="field-container">

        <div class="field-group">
            <label required="required" for="telefone_um">Fone 1</label>
            <input class="telefone" type="text" name="telefone_um" {% if client.telefone_um !='' %} value="{{ client.telefone_um }}" {% endif %}>
        </div>

        <div class="field-group">
            <label for="telefone_dois">Fone 2</label>
            <input class="telefone" type="text" name="telefone_dois" {% if client.telefone_dois !='' %} value="{{ client.telefone_dois }}" {% endif %}>
        </div>

        <div class="field-group">
            <label for="fax">Fax</label>
            <input type="text" name="fax" {% if client.fax !='' %} value="{{ client.fax }}" {% endif %}>
        </div>

        <div class="field-group">
            <label for="email">Email</label>
            <input required="required" type="text" name="email" {% if client.email !='' %} value="{{ client.email }}" {% endif %}>
        </div>

        <div class="field-group">
            <label for="inscricao_municipal">Insc.Municipal</label>
            <input required="required" type="text" name="inscricao_municipal" {% if client.inscricao_municipal !='' %} value="{{ client.inscricao_municipal }}" {% endif %}>
        </div>
    </div>

    <div class="field-container">

        <div class="field-group">
            <label for="renda">Renda/Fatura</label>
            <input required="required" class="dinheiro" type="text" name="renda" {% if client.renda !='' %} value="{{ client.renda }}" {% endif %}>
        </div>

        <div class="field-group">
            <label for="limite_original">Lim.Original</label>
            <input required="required" class="dinheiro" type="text" name="limite_original" {% if client.limite_original !='' %} value="{{ client.limite_original }}" {% endif %}>
        </div>

        <div class="field-group">
            <label for="tipo_cliente">Tipo de Cliente</label>
            <select required="required" name="tipo_cliente">

                <option value="Cliente 1" {% if client.tipo_cliente =='Cliente 1' %} selected="selected" {% endif %}>
                    Cliente 1
                </option>

                <option value="Cliente 2" {% if client.tipo_cliente =='Cliente 2' %} selected="selected" {% endif %}>
                    Cliente 2
                </option>

            </select>
        </div>

        <div class="field-group">
            <label for="ramo">Ramo</label>
            <select required="required" name="ramo">

                <option value="Auto Peças" {% if client.ramo =='Auto Peças' %} selected="selected" {% endif %}>
                    Auto Peças
                </option>

                <option value="Imobiliária" {% if client.ramo =='Auto Peças' %} selected="selected" {% endif %}>
                    Imobiliária
                </option>

            </select>
        </div>

        <div class="field-group">
            <label for="check">Chek-Chek</label>

            <select name="check">
                <option value="true" {% if client.checkCheck ==true %} selected="selected" {% endif %}>
                    true
                </option>
                <option value="false" {% if client.checkCheck ==false %} selected="selected" {% endif %}>false</option>
            </select>
        </div>
    </div>

    <div class="field-container">

        <div class="field-group">
            <label for="vendedor">Vendedor</label>
            <div class="add-container">
                <a>Adicionar</a>
                <input type="text">
            </div>
            <select required="required" name="vendedor">
                {% if client.vendedor == '' %}
                    <option value="{{ client.vendedor }}">{{ client.vendedor }}</option>
                {% endif %}
            </select>
        </div>

        <div class="field-group">
            <label for="representante">Representante</label>
            <div class="add-container">
                <a>Adicionar</a>
                <input type="text">
            </div>
            <select required="required" name="representante">
                {% if client.representante != '' %}
                    <option value="{{ client.vendedor }}">{{ client.representante }}</option>
                {% else %}} a
                {% endif %}
            </select>
        </div>
    </div>
</div>

<!-- Quinto Campo -->
<div class="field-form observacao buttons">

    <div class="header-container">

        <a class="active">Observação 1</a>
        <a>Observação 2</a>
        <a>Obs.Cobrança</a>
    </div>

    <div class="field-container observacao" style="display:block;">
        <div class="field-group">
            <textarea name="observacao_um" id="" cols="30" rows="10" {% if client.observacao_um !='' %} value="{{ client.observacao_um }}" {% endif %}></textarea>
        </div>
    </div>
    <div class="field-container observacao">
        <div class="field-group">
            <textarea name="observacao_dois" id="" cols="30" rows="10" {% if client.observacao_dois !='' %} value="{{ client.observacao_dois }}" {% endif %}></textarea>
        </div>
    </div>
    <div class="field-container observacao">
        <div class="field-group">
            <textarea name="observacao_cobranca" id="" cols="30" rows="10" {% if client.observacao_cobranca !='' %} value="{{ client.observacao_cobranca }}" {% endif %}></textarea>
        </div>
    </div>
</div>