<header>
    <ul>
        <div class="header-content">
            <li>
                <a href="/">
                    <img src="/icons/logo.webp" alt="logo automofour">
                </a>
            </li>
        </div>
        <div class="header-content">
            <li>
                <a href="/clients">Clientes</a>
            </li>
            <li>
                <a href="/register-client">Registrar Cliente</a>
            </li>
        </div>
    </ul>
</header>