.span-container {
    margin: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid var(--border-color);
}

span.value {
    font-weight: 300;
    text-transform: capitalize;
}

span {
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
}

.a-container {
    display: flex;
    width: 100%;
    padding: 0 auto;
}

.a-container a {
    width: 100%;
    padding: 16px;
    margin: 16px 0 8px;
    border-radius: 8px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    background-color: var(--primary-color);
}