form {
    color: black;
    text-align: left;
}

.dinheiro {
    direction: auto;
    text-align: left;
}

.field-form {
    width: 85vw;
    margin: 0 auto 32px;
    padding-bottom: 8px;
    border-bottom: 1px solid #00000044;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.field-form:last-child {
    border-bottom: none;
}

.field-container {
    margin: 8px 0;
    display: flex;
}

.field-group {
    margin: 0 1vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}

.field-grid {
    display: grid;
    gap: 4px;
}

label {
    padding-left: 8px;
}

input:not(.radio):not(.checkbox) {
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    padding: 8px 16px;
    transition: 400ms;
}

input:not(.radio):not(.checkbox):focus {
    border: 1px solid rgba(var(--primary-color), 0.9);
    box-shadow: 0px 0px 10px 1.5px var(--primary-color);
}

select {
    transition: 400ms;
    outline: none;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 8px 12px;
}

select:focus {
    background-color: #ffffff;
    border: 1px solid rgba(var(--primary-color), 0.9);
    box-shadow: 0px 0px 10px 1.5px var(--primary-color);
}

fieldset {
    height: 100%;
    margin-top: 8px;
}

fieldset legend {
    margin-left: 8px;
    padding: 0 4px;
}

fieldset .fieldset-container {
    grid-template-columns: 1fr;
    text-align: left;
    margin-left: 8px;
}

textarea {
    width: 100%;
    height: 156px;
    box-sizing: border-box;
    resize: none;
    outline: none;
    margin: 0;
    padding: 10px;
}

.content-fieldset {
    margin-top: 4px;
}

.buttons a {
    height: 20px;
    padding: 4px;
    margin: 4px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    color: white;
    background-color: #888888;
    transition: 200ms;
}

.buttons a.active {
    background-color: #666666;
    text-decoration: underline;
}

.buttons .header-container {
    width: 100%;
    display: flex;
    top: 10px;
    left: 5px;
}

.buttons {
    height: 100%;
    padding: 4px;
    border-radius: 8px;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #00000011;
}

.field-container.observacao {
    display: none;
}

.add-container {
    box-sizing: border-box;
    display: flex;
    position: relative;
    margin-bottom: 4px;
}

.add-container input {
    border: none;
    border-radius: 4px;
    border: 1px solid #777777;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: none !important;
}

.add-container a {
    font-size: 14px;
    cursor: pointer;
    background-color: #dddddd;
    border-radius: 8%;
    border: 1px solid #777777;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    height: 15px;
    padding: 8px;
}

.field-form:nth-child(4) .field-container:nth-child(1) .field-group:nth-child(4) {
    flex: 2;
}

.field-form:nth-child(4) .field-container:nth-child(2) .field-group:nth-child(1),
.field-form:nth-child(4) .field-container:nth-child(2) .field-group:nth-child(2) {
    flex: 0.8;
}