button[type=submit] {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 32px;
    font-weight: bold;
    background-color: var(--primary-color);
    color: #FFFFFF;
    cursor: pointer;
    transition: 200ms;
}

button[type=submit]:hover {
    background-color: #00bbff;
}